.footer-site-map-logo-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* contact icons and text */
.footer-site-map-contact-info-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.footer-site-map-contact-info-container p {
  margin: 0;
}

.footer-address-menu-container, .footer-working-hours-menu-container {
  padding-bottom: 30px;
}


.footer-site-map-contact-info-containe {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media (min-width: 576px) {
  .footer-menu-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-site-map-container {
    display: inline-flex;
    flex-direction: column;
  }

  .footer-site-map-logo-menu-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 20%; */
  }

  .footer-site-map-logo-container {
    padding-right: 20px;
  }

  .footer-address-menu-container {
    display: inline-block;
    padding-bottom: 50px;
    padding-left: 50px;
  }
}

@media (min-width: 650px) {
  .footer-working-hours-menu-container {
    padding-left: 100px;
  }
}

@media (min-width: 676px) {
  .footer-address-menu-container {
    padding-right: 0%;
  }
}

@media (min-width: 766px) {
  .footer-working-hours-menu-container {
    padding-left: 100px;
  }
}

@media (min-width: 796px) {
  .footer-menu-info-container {
    display: grid;
    grid-template: 1fr auto / auto  auto auto;
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  

  .footer-address-menu-container {
    padding-left: 0px;
    
  }
  .footer-working-hours-menu-container {
    padding-left: 0px;
    grid-area: 1 / 3 / 2 / 4;
    justify-self: center;
    
  }

  .footer-contact-menu-container {
    grid-area: 1 / 3 / 2 / 4;
    margin-top: 100%;
  }
}

@media (min-width: 1000px) {
  .footer-inner-container {
    /* padding-top: 30px;
    padding-bottom: 30px; */
    max-width: 1200px !important;
  }

  .footer-menu-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer-working-hours-menu-container {
    padding-right: 0;
  }

  .footer-contact-menu-container {
    margin-top: 0%;
  }
}
